body {
    transition: all 0.2s;
}

.card {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all 0.2s;
}

#settopic {
    transition: all 0.2s;
}

.navbar {
    transition: all 0.2s;
}