body {
    color: var(--textcolor);
    background-color: var(--backing);
}

nav {
    background-color: var(--header-backing);
    color: var(--header-textcolor);
}

.card {
    background-color: var(--card-backing);
}

.btn {
    background-color: var(--button-backing);
}

.btn:hover {
    color: var(--btnhover)
}

.aurorafooter {
    color: var(--footer-textcolor);
    background-color: var(--footer-backing);
}

.transparent {
    background-color: transparent;
    color: var(--textcolor);
}

.navpfp {
    float: left
}

.on-back {
    background-color: var(--header-backing)
}

.onbio {
    background-color: var(--bioback);
    color: var(--textcolor);
}

hr {
    background-color: var(--hrback)
}

textarea {
    color: var(--textcolor);
    background-color: var(--card-backing);
}

input {
    color: var(--textcolor);
    background-color: var(--card-backing);
}

#settopic {
    color: var(--topiccolor)
}

#centerback {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.centerback2 {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#setdesc {
    color: var(--setdesc);
}

.hoverbutton:hover {
    color:var(--textcolor)
}

#auroratv {
    width: 100%;
}

.the-i {
    background-color: transparent;
}

#preusername {
    font-size: 150%;
}

.loader {
    border: 5px solid rgba(0, 0, 0, 0.00);
    border-radius: 50%;
    border-top: 5px solid var(--topiccolor);
    border-right: 5px solid var(--topiccolor);
    border-bottom: 5px solid var(--topiccolor);
    width: 75px;
    height: 75px;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.posttopic {
    color: var(--textcolor);
}

    .posttopic:hover {
        color: var(--seticon);
        text-decoration: underline;
    }

.auroralanding {
    background: linear-gradient(297deg, var(--topiccolor), var(--touchlink));
    padding-bottom: 75px;
    padding-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.landingtext {
    color: var(--footer-textcolor);
}