:root {
    --textcolor: black;
    --backing: #ebebeb;
    --header-backing: #1a1a1a;
    --header-textcolor: white;
    --card-backing: white;
    --button-backing: black;
    --footer-textcolor: white;
    --footer-backing: #1a1a1a;
    --bioback: #c6c6c6;
    --hrback: #2f2f2f;
    --topiccolor: #79cc3e;
    --settinghover: #dbdbdb;
    --setdesc: #757575;
    --link: #79cc3e;
    --touchlink: #218762;
    --btnhover: white;
}
