:root {
    --textcolor: black;
    --backing: #ebebeb;
    --header-backing: #1a4b99;
    --header-textcolor: white;
    --card-backing: white;
    --button-backing: #007bff;
    --footer-textcolor: white;
    --footer-backing: #1a4b99;
    --bioback: #c6c6c6;
    --hrback: #2f2f2f;
    --topiccolor: #1a4b99;
    --settinghover: #dbdbdb;
    --setdesc: #757575;
    --link: #007bff;
    --touchlink: #005dc1;
    --btnhover: white;
}
